section {
	&.section {
		background-color:$white;
		position:relative;
		min-width:100%;
		top:0;
		bottom:0;

		&.intro {
			position:fixed;
			background-color: #181a2d; //pulled from background images
			//background-image: url(images/INN-Lab-Hero-02.svg);
			background-size:cover;
			background-position:center center;
			// -webkit-filter: blur(5px);
			// -moz-filter: blur(5px);
			// -o-filter: blur(5px);
			// -ms-filter: blur(5px);
			// filter: blur(5px);
		}

		&.intro-spacer {
			margin-top:100vh;
			background-color:$white;
		}

		&.nonintro {
			background-color:$white;
		}
	}
}

.inner {
	margin:0 auto;
	max-width:1052px;
	position:relative;
	padding-top:1px;
}

.home {
	#front {
		text-align:center;
		background-color:transparent;

		.inner {
			min-height:100vh;
		}

		.abs-center {
			padding:0 3em;
		}

		p {
		    font-size: 1.75em;
		    margin: 0;
		}
		
		ul {
			list-style-type: none;
			padding:0;
			margin:2.5em 12% 4.5em 12%;
		}
		
		li {
			width:28%;
			margin: 0 1%;
			display:inline-block;
			text-align:center;
		}

		.button {
			box-shadow:0 0 20px rgba(0,0,0,.3);
		}
	}

	.site-header .main-navigation {
		display:none;
	}

	#learn-more {
		p {
	    	font-size: 1.5em;
	    	color:$black;
	    }
	}

	#main .main-navigation {
	    z-index: 10;
	    position: relative;
	    top: -66px;
	}

	#main .main-navigation + section{
		margin-top:-66px;
	}

	&.logged-in {
		#main .main-navigation {
		    z-index: 10;
		    position: relative;
		    top: -98px;
		}

		#main .main-navigation + section{
			margin-top:-98px;
		}
	}
}



.highlight-line {
	display:inline;
	background-color:$white;
	color:$black;
	padding:10px 12px;
	font-family:$font__headings;
	font-weight: bold;
	line-height:1.8;
	font-size:2.6em;
	-webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}

.button {
	width:100%;
	display:inline-block;
	padding:.75em;
	background-color:$black;
	border:2px solid $black;
	text-transform: uppercase;
	font-family:$font__buttons;
	font-weight: bold;
    letter-spacing: .05em;
    //text-shadow:0px 0px 2px transparentize($black,.7);

    &:hover {
		background-color: $primary;
		cursor:pointer;
		border:2px solid $black;
	}

	&.secondary {
		border:2px solid $black;
		background-color:transparentize($white,.6);
		color:$black;
		text-shadow:none;

		&:hover {
			background-color:$white;
		}
	}
}
a.button {
	color:$white;
	&:hover {
		color:$black;
		text-decoration: none;
	}
}
a.button.secondary {
	color:$black;

	&:hover {
		color:$black;
		text-decoration: none;
	}
}

.content {
	margin: 0 auto;
    padding: 3em;
    background-color: $white;
    line-height:1.5;
}
.abs-center {
	position:absolute;
	left:0;
	right:0;
	top:50%;
	transform: translateY(-50%);
}
.intro .abs-center {
	padding-top:3em;
}
.fixed {
	position:fixed;
}

#promos {
	div {
		min-height:400px;
		width:100%;
		margin:0;
		position:relative;
		background-size:cover;
		background-position:center center;

		.overlay {
			position:absolute;
			top:0;
			bottom:0;
			width:100%;
		}

		h3 {
			text-align: center;
			color:$white;
			font-size:2em;
			transform:translateY(-100%);
		}

		&.promo-largo {
			background-image:url(images/promo-largo.jpg);

			.overlay {
				background-color:transparentize($accent5,.2);
			}
		}
		&.promo-revenue {
			background-image:url(images/promo-revenue.jpg);

			.overlay {
				background-color:transparentize($primary,.2);
			}
		}
		&.promo-custom {
			background-image:url(images/promo-custom.jpg);

			.overlay {
				background-color:transparentize($accent7,.2);
			}
		}
	}
}

#featured-blogs {
	h4 {
		margin-top:0;
	}
}

#contact-cta {
	background-color:$accent2;

	.inner {
		padding:3em;

		.button {
			display:block;
			max-width:250px;

			&:hover {
				background-color: $primary;
			}
		}
	}
}

.site-footer {
	background-color:$black;
	color:$white;
	text-align:center;
	position: relative;
    padding: 60px;

    a, a:visited {
    	color:$white;

    	&:hover {
    		color:$primary;
    	}
    }
}

.page-template-page-capabilities,
.page-template-page-projects,
.page-template-page-showcase {
	.entry-content p {
		font-size: 1.5em;
		margin: 0;
		color:$black;
	}
	.flex-grid {
		margin-bottom:2em;
	}

	h4 {
		text-transform: uppercase;
		border-bottom:2px dotted $primary;
	}
}

@media screen and (max-width: 768px) {
	.intro {
		.abs-center {
			padding:8%;
		}
		ul {
			margin-left:0;
			margin-right:0;
		}
	    li {
	    	width:100%;
	    	margin-bottom:.5em;
	    }
	}
}