/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";


/*--------------------------------------------------------------
## Labs
--------------------------------------------------------------*/
.site-header {
	position:fixed;
	width:100%;
	z-index:11;
	border-top:36px solid #000;

	.tab {
		display: block;
	    max-width: 220px;
		margin-left:36px;
		margin-top: -36px;
		padding:22px 8px 2px;
		background-color:#000;
		position:relative;
		z-index:11;

		&:hover {
			background-color:$primary;
		} 

		a {
			display: block;
			line-height: 0;
		}

		img {
			width:100%;
		}
	}
}

.main-navigation {
    height:67px;
    position: absolute;
    top: 0;
    background-color: #000;
    padding: 22px 1em;
    text-transform: uppercase;
    text-align:center;
    font-weight:bold;

    li {
    	padding:0 2em;
    }

    a, a:visited {
    	color:$white;

    	&:hover {
    		color:$primary;
    	}
    }
}